<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhamster.mapper.BlogUserMapper">
    <resultMap id="BaseResultMap" type="com.lhamster.domain.BlogUser">
        <id column="u_id" property="uId" jdbcType="INTEGER"/>
        <result column="u_email" property="uEmail" jdbcType="VARCHAR"/>
        <result column="u_password" property="uPassword" jdbcType="VARCHAR"/>
        <result column="u_nickname" property="uNickname" jdbcType="VARCHAR"/>
        <result column="u_headpicture" property="uHeadpicture" jdbcType="VARCHAR"/>
        <result column="u_sex" property="uSex" jdbcType="BIT"/>
        <result column="u_phone" property="uPhone" jdbcType="VARCHAR"/>
        <result column="u_birthday" property="uBirthday" jdbcType="TIMESTAMP"/>
        <result column="u_admin" property="uAdmin" jdbcType="BIT"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_user
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.lhamster.domain.BlogUser"
            useGeneratedKeys="true" keyProperty="uId" keyColumn="u_id">
    insert into blog_user (u_id, u_email, u_password, 
      u_nickname, u_headpicture, u_sex, 
      u_phone, u_birthday, u_admin
      )
    values (#{uId,jdbcType=INTEGER}, #{uEmail,jdbcType=VARCHAR}, #{uPassword,jdbcType=VARCHAR}, 
      #{uNickname,jdbcType=VARCHAR}, #{uHeadpicture,jdbcType=VARCHAR}, #{uSex,jdbcType=BIT}, 
      #{uPhone,jdbcType=VARCHAR}, #{uBirthday,jdbcType=TIMESTAMP}, #{uAdmin,jdbcType=BIT}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.lhamster.domain.BlogUser">
        update blog_user
        <set>
            <if test="uEmail != null and uEmail != ''">
                u_email = #{uEmail,jdbcType=VARCHAR},
            </if>
            <if test="uNickname != null and uNickname != ''">
                u_nickname = #{uNickname,jdbcType=VARCHAR},
            </if>
            <if test="uSex != null">
                u_sex = #{uSex,jdbcType=BIT},
            </if>
            <if test="uBirthday != null">
                u_birthday = #{uBirthday,jdbcType=TIMESTAMP}
            </if>
        </set>
        where u_id = #{uId,jdbcType=INTEGER}
    </update>
    <update id="updatePwd">
        update blog_user
        set u_password = #{newPwd}
        where u_id=#{parseInt}
    </update>
    <update id="resetPwd">
        update blog_user
        set u_password = #{password}
        where u_phone=#{phone}
    </update>
    <update id="updateHeadPic">
        update blog_user
        set u_headpicture = #{headPicUrl}
        where u_id=#{uId}
    </update>
    <update id="setAdmin">
        update blog_user
        set u_admin = #{decide}
        where u_id=#{id}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select u_id, u_email, u_password, u_nickname, u_headpicture, u_sex, u_phone, u_birthday,
    u_admin
    from blog_user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select u_id, u_nickname, u_headpicture, u_sex, u_phone, u_birthday
    from blog_user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select u_id, u_email, u_nickname, u_headpicture, u_sex, u_phone, u_birthday,
        u_admin
        from blog_user
        <where>
            <if test="email != null and email != ''">
                u_email = #{email}
            </if>
            <if test="nickName != null and nickName != ''">
                and u_nickname like concat('%',#{nickName},'%')
            </if>
        </where>
    </select>
    <select id="selectByPhone" resultMap="BaseResultMap">
    select u_id, u_email, u_password, u_nickname, u_headpicture, u_sex, u_phone, u_birthday,
    u_admin
    from blog_user
    where u_phone = #{phone}
    </select>
    <select id="login" resultMap="BaseResultMap">
        select u_id, u_email, u_password, u_nickname, u_headpicture, u_sex, u_phone, u_birthday,
        u_admin
        from blog_user
        <where>
            u_phone = #{userPhone}
            and u_password = #{password}
            <if test="type != 'front'">
                and u_admin = 1
            </if>
        </where>
    </select>
    <select id="selectKeyByPhone" resultType="java.lang.Integer">
        select u_id from blog_user where u_phone=#{phone}
    </select>
    <select id="selectByIdentify" resultMap="BaseResultMap">
        select u_id, u_email, u_password, u_nickname, u_headpicture, u_sex, u_phone, u_birthday,
        u_admin
        from blog_user
        where u_password = #{identityId}
    </select>
</mapper>